.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #ffffff;
  border-bottom: rgba(0, 0, 0, 0.185) 2px solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
}

.navbar-logo {
  height: 2em;
}

.navbar-username {
  margin-right: 1em;
}

@keyframes scan {
  0% { top: 0; }
  50% { top: 100%; }
  100% { top: 0; }
}

.scanner {
  position: relative;
  width: 640px; /* Set to the width of the video */
  height: 480px; /* Set to the height of the video */
  margin: 0 auto; /* Center the scanner div */
}

.scanner-line {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, transparent, red, transparent);
  box-shadow: 0 0 10px red, 0 0 5px red;
  z-index: 1;
  animation: scan 4s linear infinite;
}

.scanner video {
  filter: brightness(0.5);
}